{% extends "base.html" %} 
{% block content %}

<!--page title-->
<h3 class="blue-text text-darken-4 center-align">Add Colleague</h3>

<!-- 
   this form is from materialize.css as is the rows for each field (first name,
   last name, role, department_id) and the submit button,
   this was done for consistancy in design.
-->

<!--add colleague form -->
<!--materialize.css-->
<div class="row card-panel transparent">
   <form class="col s12" method="POST" action="{{ url_for('add_colleague') }}">
      <!--First name-->
      <!--materialize.css-->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-pencil-alt prefix blue-text text-darken-4"></i>
            <input
               id="first_name"
               name="first_name"
               type="text"
               minlength="2"
               maxlength="25"
               class="validate"
               required/>
            <label for="first_name" aria-label="first-name">First Name</label>
         </div>
      </div>
      <!--Last name-->
      <!--materialize.css-->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-pencil-alt prefix blue-text text-darken-4"></i>
            <input
               id="last_name"
               name="last_name"
               type="text"
               minlength="2"
               maxlength="25"
               class="validate"
               required/>
            <label for="last_name" aria-label="last-name">Last Name</label>
         </div>
      </div>
      <!--Role-->
      <!--materialize.css-->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-pencil-alt prefix blue-text text-darken-4"></i>
            <input
               id="role"
               name="role"
               type="text"
               minlength="5"
               maxlength="50"
               class="validate"
               required/>
            <label for="role" aria-label="role">Role</label>
         </div>
      </div>
      <!--department_id-->
      <!--materialize.css-->
      <div aria-label="close-menu" class="row">
         <div class="input-field aria-label='close-menu' col s12">
            <select
               aria-label="Close-menu"
               name="department_id"
               id="department_id"
               class="validate"
               required>
               <!--
                  this is a select dropdown box from materialize.css, unfortunately due to the limitations of
                  materialize i am unable to make this element 100% accessibile,
                  however the page now reads at 91% overall
               -->
               <option value="" disabled aria-label="choose-department" selected>Choose Department</option>
               <!--this is so the created departments display as an option-->
               {% for department in departments %}
               <option value="{{ department.id }}">
               <label for="department_id" aria-label="department_id"></label>
                  {{ department.department_name }}
               </option>
               {% endfor %}
            </select>
         </div>
      </div>
      <!--submit button-->
      <!--materialize.css-->
      <div class="row">
         <div class="col s12 center-align">
            <button type="submit" aria-label="add-colleague" class="btn-large blue darken-4">
               Add Colleague <i class="fas fa-plus-square right"></i>
            </button>
         </div>
      </div>
   </form>
</div>

{% endblock %}