{% extends "base.html" %} 
{% block content %}

<!--page title-->
<h3 class="blue-text text-darken-4 center-align">Edit Colleague</h3>

<!-- 
   this form is from materialize.css as is the rows for each field (first name,
   last name, role, department_id) and the submit button,
   this was done for consistancy in design.
-->

<!--form for edit colleague-->
<!--this component came from materialize.css-->
<div class="row card-panel transparent">
   <form
      class="col s12"
      method="POST"
      action="{{ url_for('edit_colleague', colleague_id=colleague.id) }}">
      <!--First name-->
      <!--this component came from materialize.css-->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-pencil-alt prefix blue-text text-darken-4"></i>
            <input
               id="first_name"
               name="first_name"
               value="{{ colleague.first_name }}"
               type="text"
               minlength="2"
               maxlength="25"
               class="validate"
               required/>
            <label for="first_name" aria-label="first-name">First Name</label>
         </div>
      </div>
      <!--Last name-->
      <!--this component came from materialize.css-->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-pencil-alt prefix blue-text text-darken-4"></i>
            <input
               id="last_name"
               name="last_name"
               value="{{ colleague.last_name }}"
               type="text"
               minlength="2"
               maxlength="25"
               class="validate"
               required/>
            <label for="last_name" aria-label="last-name">Last Name</label>
         </div>
      </div>
      <!--Role-->
      <!--this component came from materialize.css-->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-pencil-alt prefix blue-text text-darken-4"></i>
            <input
               id="role"
               name="role"
               value="{{ colleague.role }}"
               type="text"
               minlength="5"
               maxlength="50"
               class="validate"
               required/>
            <label for="role" aria-label="role">Role</label>
         </div>
      </div>
      <!--department_id-->
      <!--this component came from materialize.css-->
      <div class="row">
         <div class="input-field col s12">
            <select
               name="department_id"
               id="department_id"
               class="validate"
               required>
               <!--
                  this is a select dropdown box from materialize.css, unfortunately due to the limitations of
                  materialize i am unable to make this element 100% accessibile,
                  however the page now reads at 91% overall
               -->
               <option value="" disabled>Choose Department</option>
               <!--this is so the field for department autofills with colleague assigned department-->
               {% for department in departments %} 
                  {% if department ==
                     colleague.department %}
               <option value="{{ department.id }}" selected>
                  {{ department.department_name }}
               </option>
               {% else %}
               <option value="{{ department.id }}">
                  {{ department.department_name }}
               </option>
                  {% endif %} 
               {% endfor %}
            </select>
            <label for="department_id" aria-label="department_id">Department</label>
         </div>
      </div>
      <!--submit button-->
      <!--this component came from materialize.css-->
      <div class="row">
         <div class="col s12 center-align">
            <button type="submit" aria-label="edit-colleague" class="btn-large blue darken-4">
               Edit Colleague <i class="fas fa-edit right"></i>
            </button>
         </div>
      </div>
   </form>
</div>
{% endblock %}
