{% extends "base.html" %} 
{% block content %}

<!--page title-->
<h3 class="blue-text text-darken-4 center-align">
   Personal Information Search
</h3>

<!--search function for the mongo db-->
<!--this card/input component came from materialize.css-->
<div class="row card-panel transparent">
   <form class="col s12" method="POST" action="{{ url_for('search_info') }}">
      <div class="row valign-wrapper center-align">
         <div class="input-field col s12 m8">
            <i class="fas fa-search prefix blue-text text-darken-4"></i>
            <input
               type="text"
               placeholder="Search Colleague by Name or Department"
               name="query"
               id="query"
               class="validate"
               required/>
            <label for="query" aria-label="search-colleagues">Search Colleagues</label>
         </div>
         <!--search and reset button for the search bar-->
         <!--this component came from materialize.css-->
         <div class="col s12 m4">
            <a href="{{ url_for('get_associate') }}"
               class="red darken-4 btn text-shadow">Reset</a>
            <button type="submit" class="blue darken-4 btn text-shadow">
               <i class="fas fa-search left"></i> Search
            </button>
         </div>
      </div>
   </form>
</div>
<!--for the collapsible menu that shows the created colleagues within the database-->
<!--this component came from materialize.css-->
{% if associate|length > 0 %}
<ul class="collapsible">
   {% for associate in associate %}
   <li>
      <div class="collapsible-header white-text blue darken-4 text-shadow">
         <i class="fas fa-caret-down"></i>
         <strong>{{ associate.first_name }}</strong> {{ associate.last_name }}
      </div>
      <div class="collapsible-body">
         <strong>{{ associate.department }}</strong>
         <p>{{ associate.role }}</p>
         <p>{{ associate.colleague_number }}</p>
         <p>{{ associate.contact }}</p>
         <p>{{ associate.date_of_birth }}</p>
         <a href="{{ url_for('edit_associate', associate_id=associate._id) }}"
            class="btn green accent-4">Edit</a>
         <a href="#modal-{{ associate._id }}" class="btn red modal-trigger">Delete</a>
         <!-- Modal -->
         <!--this component came from materialize.css-->
         <div id="modal-{{ associate._id }}" class="modal">
            <div class="modal-content">
               <h4>Are you sure you want to delete this Colleague?</h4>
               <p>This action cannot be undone</p>
            </div>
            <div class="modal-footer">
               <a href="{{ url_for('delete_associate', associate_id=associate._id) }}"
                  class="btn red">Delete</a>
               <a href="{{ url_for('get_associate') }}"
                  class="modal-close btn green accent -4">Cancel</a>
            </div>
         </div>
      </div>
   </li>
   {% endfor %}
</ul>
{% else %}
<!--to display when no results are found-->
<h3 class="red-text text-darken-4 center-align">No Results Found</h3>
{% endif %} 
{% endblock %}