body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("https://i.postimg.cc/qRkBQkHD/page-background.jpg");
    max-width:100%;
    height: auto;
  }

/* sticky footer css */
  main {
    flex: 1 0 auto;
  }

  .flashes h4 {
    line-height: 2;
}

nav {
  background-image: url("https://i.postimg.cc/MHPfsCVZ/new-header-1-resize.jpg");
  background-image: cover;
  max-width: 100%;
}

footer {
  background-image: url("https://i.postimg.cc/MHPfsCVZ/new-header-1-resize.jpg");
  background-image: cover;
  max-width: 100%;
}

.sidenav {
  background-image: url("https://i.postimg.cc/qRkBQkHD/page-background.jpg");
  max-width: 100%;
}

.titan-logo {
  max-width: 50%;
  height:auto;
  margin-left:26%;
}

.flash {
  padding: 20px;
}