@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("https://i.postimg.cc/qRkBQkHD/page-background.jpg");
    max-width:100%;
    height: auto;
  }

  /*styling for the background image of the app*/
  .container {
    background-size: cover;
  }

/* sticky footer css */
  main {
    flex: 1 0 auto;
  }

  .flashes h4 {
    line-height: 2;
}

/*for the nav bar at the top of the page*/
nav {
  background-image: url("https://i.postimg.cc/MHPfsCVZ/new-header-1-resize.jpg");
  background-image: cover;
  max-width: 100%;
}

/*for the footer at the bottom of the page*/
footer {
  background-image: url("https://i.postimg.cc/MHPfsCVZ/new-header-1-resize.jpg");
  background-image: cover;
  max-width: 100%;
}

/*this is to insert the background image to the sidenav on mobile devices*/
.sidenav {
  background-image: url("https://i.postimg.cc/qRkBQkHD/page-background.jpg");
  max-width: 100%;
}

/*this is for the branding logo on the index page*/
.titan-logo {
  max-width: 50%;
  height:auto;
  margin-left:26%;
}
